<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>


<body>
  <h1>Welcome to the world of great ice hockey lines 🏒 🥅</h1>
    
  {% if session.user_id %}
    <a href="/">Front page</a> |
    <a href="/add_item">Create a new line</a> |
    <a href="/find_item">Search database</a> |
    <a href="/logout">Log out</a> 

    <p>
    Time to get fanatic, <a href="/user/{{ session.user_id }}"><b>{{ session.username }}</b></a>! ⚡️ Your id number is {{ session.user_id }}
    </p>
  
  <hr> 

  {% endif %}
  
  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}

  {% block content %}{% endblock %}  
</body>

</html>