<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>


<body>
  <h1>🏒 World of Great Ice Hockey Lines 🥅</h1>
    
  {% if session.user_id %}
  <div class="top-bar">
    <nav class="nav-links">
        <a href="/" class="nav-button">Front page</a>
        <a href="/add_item" class="nav-button">Create a new line</a>
        <a href="/find_item" class="nav-button">Search database</a>
        <a href="/logout" class="nav-button">Log out</a>
    </nav>
    <p class="user-info">
        Signed in as: <a href="/user/{{ session.user_id }}"><b>{{ session.username }}</b></a>
    </p>
  </div>

  {% endif %}
  
  <hr> 

  {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class="flash">
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}  
</body>

</html>