<html>

<head>
  <title>Edit your line</title>
</head>

<body>
  <form action="/update_item" method="post"> <!--insert values from the current item to every section!-->
    <p>
      <h3>Insert name of the line</h3>
      <input type="text" name="linename" value="{{ item_page.linename }}" size="80" />
    </p>

    <p>
      <h4>Insert player in left wing (LW)</h4>
      <input type="text" name="player_lw" value="{{ item_page.player_lw }}" size="50" />
    </p>

    <p>
      <h4>Insert player in center (C)</h4>
      <input type="text" name="player_c" size="50" />
    </p>

    <p>
      <h4>Insert player in right wing (RW)</h4>
      <input type="text" name="player_rw" size="50" />
    </p>

    <!-- attributes --> 
    <p>
      <h4>When was the line at its peak (decade)</h4>
      <input type="radio" name="decade" value="1980" /> 1980s
      <input type="radio" name="decade" value="1990" /> 1990s
      <input type="radio" name="decade" value="2000" /> 2000s
      <input type="radio" name="decade" value="2010" /> 2010s
      <input type="radio" name="decade" value="2020" /> 2020s
    </p>

    <p>Insert league:</p>
    <p>
      <input type="checkbox" name="league" value="nhl" /> NHL team
      <input type="checkbox" name="league" value="national" /> National team
      <input type="checkbox" name="league" value="liga" /> Finnish Liga
      <input type="checkbox" name="league" value="shl" /> Swedish SHL
      <input type="checkbox" name="league" value="other" /> Other 
    </p>

    <p>Insert nationalities of the players:</p>
    <p>
      <input type="checkbox" name="nationality" value="can" /> Canada 🇨🇦
      <input type="checkbox" name="nationality" value="usa" /> USA 🇺🇸
      <input type="checkbox" name="nationality" value="fin" /> Finland 🇫🇮
      <input type="checkbox" name="nationality" value="swe" /> Sweden 🇸🇪
      <input type="checkbox" name="nationality" value="other" /> Other 🌎
    </p>
    
    <p>Rate your line (1 to 5):</p>
    <p>
      <input type="radio" name="rating" value="1" /> 🔥
      <input type="radio" name="rating" value="2" /> 🔥🔥
      <input type="radio" name="rating" value="3" /> 🔥🔥🔥
      <input type="radio" name="rating" value="4" /> 🔥🔥🔥🔥
      <input type="radio" name="rating" value="5" /> 🔥🔥🔥🔥🔥 
    </p>
    <input type="hidden" name="item_id" value="{{ item_page.id }}" /> <!--needed for updating-->
    <input type="submit" value="Edit your line" />
  </form>
</body>

</html>