{% extends "base_layout.html" %}

{% block title %} Add your favorite forward line {% endblock %}

{% block content %} <!-- coming from base_layout -->

 <h2>Insert your line to database</h2>

  <form action="/create_item" method="post">
    <p>
      <h3>Name of the line</h3>
      <input type="text" name="linename" size="{{ INPUT_LENGTH_LIMITS.item_input }}" maxlength="{{ INPUT_LENGTH_LIMITS.item_input }}" required />
    </p>

    <h3>The players</h3>
    <p>
      <h4>Player in left wing (LW)</h4>
      <input type="text" name="player_lw" size="{{ INPUT_LENGTH_LIMITS.item_input }}" maxlength="{{ INPUT_LENGTH_LIMITS.item_input }}"required/>
    </p>

    <p>
      <h4>Player in center (C)</h4>
      <input type="text" name="player_c" size="{{ INPUT_LENGTH_LIMITS.item_input }}" maxlength="{{ INPUT_LENGTH_LIMITS.item_input }}" required/>
    </p>

    <p>
      <h4>Player in right wing (RW)</h4>
      <input type="text" name="player_rw" size="{{ INPUT_LENGTH_LIMITS.item_input }}" maxlength="{{ INPUT_LENGTH_LIMITS.item_input }}" required/>
    </p>

    <h3>Additional information</h3>

    {% for class_name, options in classes.items() %}
    <fieldset>
        <legend><b>{{ class_name|capitalize }}</b></legend>
        {% for option in options %}
            <div>
              <input type="checkbox" name="category" value="{{ class_name }}_{{ option }}">
              <label for="{{ class_name }}_{{ option }}">{{ option }}</label>
            </div>
        {% endfor %}
    </fieldset>
    <br>
    {% endfor %}

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" /> <!--security-->
    <input type="submit" value="Submit your line" class="nav-button"/>
  </form>

  {% endblock %}