<html>

<head>
  <title>Edit your line</title>
</head>

<body>
  <form action="/update_item" method="post"> <!--insert values from the current item to every section!-->
    <p>
      <h3>Insert name of the line</h3>
      <input type="text" name="linename" value="{{ item_page.linename }}" size="100" maxlength="100" required />
    </p>

    <p>
      <h4>Insert player in left wing (LW)</h4>
      <input type="text" name="player_lw" value="{{ item_page.player_lw }}" size="50" maxlength="100" required />
    </p>

    <p>
      <h4>Insert player in center (C)</h4>
      <input type="text" name="player_c" value="{{ item_page.player_c }}" size="50" maxlength="100" required />
    </p>

    <p>
      <h4>Insert player in right wing (RW)</h4>
      <input type="text" name="player_rw" value="{{ item_page.player_rw }}" size="50" maxlength="100" required />
    </p>

    <!-- attributes --> 
    {% for class_name, options in all_classes.items() %}
    <fieldset>
        <legend>{{ class_name }}</legend>
        {% for option in options %}
            <div>
              <input type="checkbox" 
                     name="category" 
                     value="{{ class_name }}_{{ option }}"
                     id="{{ class_name }}_{{ option }}"
                     {% if option in selected_classes.get(class_name, []) %}checked{% endif %}>
              <label for="{{ class_name }}_{{ option }}">{{ option }}</label>
            </div>
        {% endfor %}
    </fieldset>
    <br>
    {% endfor %}
    
    <!--
    {% for class in all_classes %}
    <p>
      <label for="class{{ class }}">{{ class }}:</label> <br />
      <select name="category" id="class{{ class }}" multiple>
        <option value="">(valitse)</option>
        {% for option in all_classes[class] %}
          {% if class in selected_classes and option in selected_classes[class] %}
          <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
          {% else %}
          <option value="{{ class }}:{{ option }}">{{ option }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </p>
    {% endfor %}
    -->

    <input type="hidden" name="item_id" value="{{ item_page.id }}" /> <!--needed for updating-->
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" /> <!--security-->
    <input type="submit" value="Edit your line" />
  </form>
</body>

</html>