{% extends "base_layout.html" %}

{% block title %} User log in {% endblock %}

{% block content %} <!-- coming from base_layout -->

<h2>Log in to our community</h2>

  {% if session.username %}
  
  <p>
    You are already signed in as {{ session.username }}. Log out to use another user name.
  </p>

  {% else %}

  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" value="{{ filled.username }}" required/>
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" required/>
    </p>
    <input type="submit" value="Sign in" />
  </form>
  {% endif %}

{% endblock %}
