<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
  {% if session.username %}
  <p>
    You are signed in as {{ session.username }}
  </p>
  <p>
    <a href="/logout">Log out from account</a>
  </p>
  {% else %}

  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" required/>
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" required/>
    </p>
    <input type="submit" value="Sign in" />
  </form>
  {% endif %}
</body>

</html>
