<!DOCTYPE html>
<html>

<head>
  <title>Registration</title>
</head>

<body>
  <h2>Please join our users!</h2>
  <form action="/create_user" method="post"> 
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Insert password: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Insert password again: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Create user account" />
  </form>
</body>

</html>