{% extends "base_layout.html" %}

{% block title %} Register {% endblock %}

{% block content %} <!-- coming from base_layout -->


<h2>Please join our users!</h2>

  <form action="/create_user" method="post"> 
    <p>
      Username: <br />
      <input type="text" name="username" required/>
    </p>
    <p>
      Insert password: <br />
      <input type="password" name="password1" required/>
    </p>
    <p>
      Insert password again: <br />
      <input type="password" name="password2" required/>
    </p>
    <input type="submit" value="Create user account" />
  </form>

  {% endblock %}